<?xml version="1.0" encoding="utf-8"?>
<configuration>	
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LCPReportingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LCPReportingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <connectionStrings>
    <add name="dbReports" connectionString="Data Source=192.168.10.20;database=dbReports;uid=sa;password=Icomm@may2024;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="WindowdbReports" connectionString="Server=.;Database=dbReports;Integrated Security=True; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="charEmail" value="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <LCPReportingSystem.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Rememberme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SuperUserName" serializeAs="String">
        <value>Super</value>
      </setting>
      <setting name="SuperUserPassword" serializeAs="String">
        <value>Super@123</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>SNMPWalkService</value>
      </setting>
      <setting name="IsStopService" serializeAs="String">
        <value>True</value>
      </setting>
    </LCPReportingSystem.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LCPReportingSystem.Properties.Settings>
      <setting name="DataUpdatingTimepriod_Seconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ZipFolderSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="DataUpdatingTimePeriod_Seconds" serializeAs="String">
        <value>10</value>
      </setting>
    </LCPReportingSystem.Properties.Settings>
  </applicationSettings>
</configuration>
